# Flask Configuration
FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=django-insecure-l94ryb(ydgm+ia59483b*k!x7)j)6ou@d!tp1qse2ig*s1nktj

# Database
# For SQLite: sqlite:///dev.db
# For Postgres: postgresql://user:password@localhost:5432/dbname
DATABASE_URL=sqlite:///dev.db
